/*
 * Variables
 */

// Calculator
$calc-max-width: 350px;

// Display
$display-bg-color: #2A363B;
$display-equation-font-color: #798184;
$display-result-font-color: #FFFFFF;

// Keypad
$keypad-spacer-bg-color: #3E4649;
$btn-default-font-color: #FFFFFF;
$btn-action-bg-color: #EC475C;
$btn-operator-bg-color: #F7BA86;
$btn-number-bg-color: #F6827A;